{% extends "home/base_home.html" %} {% block content %}

<div class="container my-4">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    <strong>DETALLE CONTACTO DE EMERGENCIA</strong>
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="container">
                        <div class="my-50" style="margin-top: 20px">
                            <form class="row g-3"
                                action="{{url_for('db_employee.update_emergency_contact_details',ccn_emergency_contact_details=ccn_emergency_contact_details) }}"
                                method="POST" enctype="multipart/form-data">
                                {{ form.hidden_tag() }}

                                <div class="col-md-12 col-lg-6">
                                    {{ form.employee.label(class="mt-1") }} {{
                                    form.employee(class="form-control") }} {% for error in
                                    form.employee.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>

                                <div class="col-md-12 col-lg-6">
                                    {{ form.emergency_contact.label(class="mt-1") }} {{
                                    form.emergency_contact(class="form-control") }} {% for error in
                                    form.emergency_contact.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>

                                <div class="col-md-12 col-lg-6">
                                    {{ form.relationship.label(class="mt-1") }} {{
                                    form.relationship(class="form-control") }} {% for error in
                                    form.relationship.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>

                                <div class="col-md-12 col-lg-6">
                                    {{ form.cellphone.label(class="mt-1") }} {{
                                    form.cellphone(class="form-control") }} {% for error in
                                    form.cellphone.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>

                                <div class="col-md-12">
                                    <a class="btn btn-sm btn-secondary"
                                        href="/list_employment_relationship">CANCELAR</a>
                                    {{ form.submit(class="btn btn-sm btn-success",
                                    value="ACTUALIZAR" ) }} {% for error in form.submit.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>

                                <div class="modal-footer">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Odio a repellendus molestias natus sapiente totam incidunt
                                        animi, nostrum enim necessitatibus alias fugit mollitia
                                        libero eos obcaecati, cupiditate adipisci possimus. Libero.
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}